<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="pet.css">
<body>

<div ng-app="">

  <p>Name : <input type="text" ng-model="name" style="background-color: aqua" placeholder="Kindly enter your name man"></p>
  <p>Pet Type: <input type="text" ng-model="click"></p>
  <h1>{{name}}</h1>
  <h2>{{click}}</h2>
</div>
<div ng-app="">
  <h2>This is my pet summary.</h2>  
    <button>click here to add a pet</button>
    
    </div>

</body>
</html>