#background {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #eeeeee;
  left: 10%;
  text-align: center;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  overflow: auto;
}

#background img {
  height: 300px;
  width: 50px;
}

#signup-step-1 {
  display: ;
}

#signup-step-2 {
  position: absolute;
  text-align: center;
  width: 100%;
  display: none;
}

#cover-photo{
  width: 80%;
  margin-left: 10%;
  height: 220px;
  background-image: url("../images/cover_photo_placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;

  
}

#profile-pic-landing {

  width: 100px;
  height: 100px;
  background-image: url("../images/profile-pic-placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  margin-left: 45%;
  border-radius: 6px;
}

#signup-step-3 {
  color: #FFFFFF;
  text-align: center;
  display: none;
}

#signup-text {
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
  color: #FFFFFF;
  font-family: "Candara";
  margin-bottom: 30px;
}

#input-fields {
  width: 80%;
  color: #FFFFFF;
  text-align: right;
}

.mdl-textfield__input {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px;
  border-radius: 8px;
  text-align: right;

}

#dont-have-an-account-link {
  font-size: 15px;
}

input {
  font-size: : 500px;
  margin-top: 5%;
  display:inline;
  width:50%;
  height: 30px;
  text-align: center;
}

.mdl-button { 
  font-size: 20px;
  height: 60px;
  width: 120px;
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff; 
  border-radius: 12px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 10px;
  float: right;
}

#menu-button-icon {
  font-size:30px;
  cursor:pointer;
  color: #ffffff;
  float: left;
  margin-left: 25px;
}

u {
  color: #ffffff;
}


body {
  background: #000000;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  vertical-align: baseline;
}

.content {
  
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #222;
  color: white;
}
#header h1 {
  top: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}
