#background {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #eeeeee;
  left: 10%;
  text-align: center;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  overflow: auto;
}

#background img {
  height: 300px;
  width: 50px;
}

#signup-text {
  margin-top: 10%;
  text-align: center;
  font-size: 100px;
  font-family: "Candara"
}

#input-fields {
  width: 100%;
}

#dont-have-an-account-link {
  font-size: 15px;
}

input {
  font-size: : 500px;
  margin-top: 5%;
  display:inline;
  width:50%;
  height: 30px;
  text-align: center;
}

button { 
  font-size: 20px;
  height: 60px;
  width: 120px;
  margin-top: 5%;
  background-color: #000000;
  color: #ffffff; 
  border-radius: 12px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 10px;
  float: right;
}

#menu-button-icon {
  font-size:30px;
  cursor:pointer;
  color: #ffffff;
  float: left;
  margin-left: 25px;
}

u {
  color: #ffffff;
}


body {
  background: #000000;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  vertical-align: baseline;
}

.content {
  
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #222;
  color: white;
}
#header h1 {
  top: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}
