#dialogue-div {
  position: fixed;
  top: 0;
  left:0;
  height: 0%;
  width: 0%;
  background-color: rgba(0,0,0, 0.4);
  z-index: 3;
}

#box {
  margin-left: 25%;
  margin-top: 10%;
  height: 50%;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #ccc;

}

#background {
  position: absolute;
  width: 80%;
  min-height: 100%;
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
  left: 10%;
  text-align: center;
  overflow: auto;
}

#user-landing-strip{
  position: absolute;
  margin-top: 60px;
  height: 500px;
  width: 100%;
}

#cover-photo{
  width: 100%;
  height: 220px;
  background-image: url("../images/cover_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#profile-pic-landing {
  width: 100px;
  height: 100px;
  background-image: url("../images/abraham.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

#user-name {
  color: white;
  float: right;
  font-size: 30px;
  padding-top: 66px;
  padding-left: 10px;
}

#jason-stuff {
  margin-top: 500px;
}

#profile-pic-landing-container 
{
  position: absolute;
  bottom: 0;
}

#pets-panel {
  margin-top: 320px;
  width: 100%;
}

#pets-title {
  width: 100%;
  text-align: left;
  font-size: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: menlo;
}

.pets-list {
  text-align: left;
  padding-left: 30px;
  
}

.pet {
  margin-top: 12px;
  position: relative;
  /*background-color: #000000;*/
  width: 190px;
  text-align: center;
  float: left;
}

.pet-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pet-name {
  text-align: center;
}

#add-pet-button-div {
  border: 0px
}

#add-pet-button {
  margin: 50px;
}

#content {
  padding-left: 90px;
  padding-right: 50px;
}

#heading-spacer {
  height: 100px;
}

div.gallery {
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;

}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 180px;
    height: 140px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-top: 5px;
  border: 1px solid #777;

}

#profile-pic-header {
  float: right;
  margin-right: 25px;

}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 10px;
  float: right;
}

#menu-button-icon {
  font-size:30px;
  cursor:pointer;
  color: #ffffff;
  float: left;
  margin-left: 25px;
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  /*vertical-align: baseline;*/

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:2;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav {
    top: 8px;
    font-size: 36px;
    float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container {
  position: relative;
  width: 100%;
  font-family: helvetica, sans-serif;
}

.content {
  position: relative;
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
#header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #222;
  color: white;
}
#header h1 {
  top: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}





